// Define variables for your color scheme
$primary-color: #F3AE53;
$primary-light-color: #FBE4C5;
$secondary-color: #799D43;
$secondary-light-color: #D1E0B8;
$almost-black:#333333;
$almost-white:#F6F5F1;
$light-grey: #ececec;
$dark-grey: #666666;
$dark-red:#A81010;
$light-red: #e39191;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
