// Specific CSS for your home-page

.fullscreen-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-container{
  margin-top: 150px;
}

.search-bar{
  border: 2px solid $secondary-color;
  width: 800px;
  background-color: $almost-white;
  button{
    background-color: $secondary-color;
    color: $almost-white;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.category-container{
  width: 800px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  .btn{
    color:$primary-color;
    background-color: $primary-light-color;
    font-weight: 500;
    font-size: 16px;
  }
  i{
    background-color: $primary-color;
    border-radius: 50px;
    color: $primary-light-color;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

#search-bar{
  background-color: transparent;
}
