<%# navbar goes here %>
<div class="container w-1200px mt-5">
    <h1 class="text-center">Book trusted help</h1>
    <h1 class="text-center">for home tasks</h1>

    <form class="form-inline d-flex ">
        <input class="form-control mr-sm-2" type="search" placeholder="What do you need help with?" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div class="container m-5">
        <div class="row">
            <div class="col-3 mb-3">
                <button class="btn btn-outline-primary btn-block">Pool Cleaning and Maintenance</button>
            </div>
            <div class="col-3 mb-3">
                <button class="btn btn-outline-primary btn-block">Massage and Wellness</button>
            </div>
            <div class="col-3 mb-3">
                <button class="btn btn-outline-primary btn-block">Gardening and Landscaping</button>
            </div>
            <div class="col-3 mb-3">
                <button class="btn btn-outline-primary btn-block">House Cleaning Services</button>
            </div>
            <div class="col-3 mb-3">
                <button class="btn btn-outline-primary btn-block">Pet Care Services</button>
            </div>
            <div class="col-3 mb-3">
                <button class="btn btn-outline-primary btn-block">Home Repair and Handyman Services</button>
            </div>
            <div class="col-3 mb-3">
                <button class="btn btn-outline-primary btn-block">Car Detailing and Maintenance</button>
            </div>
            <div class="col-3 mb-3">
                <button class="btn btn-outline-primary btn-block">Personal Fitness Training</button>
            </div>
            <div class="col-3 mb-3">
                <button class="btn btn-outline-primary btn-block">Event Services</button>
            </div>
            <div class="col-3 mb-3">
                <button class="btn btn-outline-primary btn-block">Appliance Installation and Repair</button>
            </div>
        </div>
    </div>

    <div>
        <h2 class="text-center">How it works</h2>
        <p class="text-center"> A bunch of text about how it works</p>
    </div>
</div>