<%# navbar goes here %>
<div class="container w-1200px mt-5 mx-auto">
    <h1 class="text-center">Book trusted help <br> for home tasks</h1>

    <form class="form-inline d-flex search-bar mt-5 mx-auto rounded-pill px-3 py-2">
        <input class="form-control mr-sm-2 border-0 rounded-pill" type="search" placeholder="What do you need help with?" aria-label="Search">
        <button class="btn my-2 my-sm-0 rounded-pill ms-2" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <div class="category-container d-flex mt-5 mx-auto">
          <button class="btn  rounded-pill mx-4 my-3"><i class="fa-solid fa-droplet"></i>Pool Cleaning</button>
          <button class="btn rounded-pill mx-4 my-3"><i class="fa-solid fa-spa"></i>Massage</button>
          <button class="btn rounded-pill mx-4 my-3"><i class="fa-solid fa-tree"></i>Gardening</button>
          <button class="btn rounded-pill mx-4 my-3"><i class="fa-solid fa-broom"></i>House Cleaning</button>
          <button class="btn rounded-pill mx-4 my-3"><i class="fa-solid fa-utensils"></i> Cooking</button>
          <button class="btn rounded-pill mx-4 my-3"><i class="fa-solid fa-baby"></i> Babysitting</button>
          <button class="btn rounded-pill mx-4 my-3"><i class="fa-solid fa-tshirt"></i> Laundry</button>
          <button class="btn rounded-pill mx-4 my-3"><i class="fa-solid fa-lightbulb"></i> Electrician</button>
          <button class="btn rounded-pill mx-4 my-3"><i class="fa-solid fa-bone"></i>Pet Care</button>
          <button class="btn rounded-pill mx-4 my-3"><i class="fa-solid fa-wrench"></i>Home Repair</button>
          <button class="btn rounded-pill mx-4 my-3"><i class="fa-solid fa-car"></i>Car Detailing</button>
    </div>

</div>
