<div class="title-container w-100 mb-3">
  <h2 class="mb-4">Your services</h2>
</div>
<% @services.each  do |service| %>
  <div class="srvc-card d-flex flex-row justify-content-between p-3 mb-3">
    <div class="card-test text-start">
      <h3 class="srvc-title"><%= service.title %></h3>
      <span class="srvc-cateogry"><%= service.category %></span>
      <span class="srvc-price"><%= service.price%>IDR / hour</span>
    </div>
    <button class="btn edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
  </div>
<% end %>
