<div class="container">
  <h1 class="mt-3">Welcome to your dashboard</h1>
  <%= render "new_service" %>
  <div class="row mt-5">
    <div class="col me-3 p-3 section services-section">
      <%= render "services" %>
    </div>
    <div class="col ms-3 p-3 section requests-section">
      <%= render "requests" %>
    </div>
  </div>
</div>
