<div class="container text-center">
  <h1>Welcome to your dashboard</h1>
  <%= render "new_service" %>
  <div class="row mt-5">
    <div class="col me-4 p-4 section services-section">
      <%= render "services" %>
    </div>
    <div class="col ms-4 p-3 section requests-section">
      <%= render "requests" %>
    </div>
  </div>
</div>
