<div class="container">
  <h1>Welcome to your dashboard</h1>
  <button class="btn btn-primary">Add a new service</button>
  <div class="sections g-3 row">
    <div class="col-6 section services-section">
      <h2>Your services</h2>
    </div>
    <div class="col-6 section requests-section">
      <h2>Your services</h2>
    </div>
  </div>
</div>
