.container{
  margin-top: 120px;
}

.section{
  background-color: none;
  box-shadow: 0px 0px 10px 5px #cccccc;
  height: 450px;
  border-radius: 20px;
  overflow: scroll;
}

// Request section

.title-requests{
  height: 50px;
  background-color: $secondary-light-color;
  color: $secondary-color;
  text-align: center;
  border-radius: 10px;
  h2{
    line-height: 50px;
    font-weight: 700;
  }
}

/* Add hover effect for the card */
.srvc-card {
  transition: transform 0.1s, box-shadow 0.1s; /* Smooth transition for hover and click effects */
}

.srvc-card:hover {
  transform: translateY(-5px); /* Slightly lift the card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

/* Add click (active) effect for the card */
.srvc-card:active {
  transform: translateY(0); /* Move back to original position */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly reduce shadow */
  transition: transform 0.1s, box-shadow 0.1s; /* Faster transition on click */
}
