.container{
  margin-top: 120px;
}

.section{
  background-color: none;
  box-shadow: 0px 0px 10px 5px #cccccc;
  height: 450px;
  border-radius: 20px;
  overflow: scroll;
}

// Request section

.title-requests{
  height: 50px;
  background-color: $secondary-light-color;
  color: $secondary-color;
  text-align: center;
  border-radius: 10px;
  h2{
    line-height: 50px;
    font-weight: 700;
  }
}
