.section{
  background-color: none;
  box-shadow: 0px 0px 10px 5px #cccccc;
  height: 450px;
  border-radius: 20px;
  overflow: scroll;
}

.title-container{
  height: 50px;
  background-color: $primary-light-color;
  color: $primary-color;
  text-align: center;
  border-radius: 10px;
  h2{
    line-height: 50px;
    font-weight: 700;
  }
}

.srvc-card{
  height: auto;
  border: 1px solid $primary-color;
  border-radius: 10px;
  .srvc-title{
    font-size: 18px;
    font-weight: 500;
  }
  .srvc-description{
    font-size: 14px;
    margin: 0;
  }
  span{
    font-size: 14px;
    background-color: rgb(234, 234, 234);
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
  }
}

.edit-btn{
  background-color: $primary-color;
  color: $primary-light-color;
  border-radius: 5px;
  height: auto;
  font-weight: 500;
  font-size: 24px;
  padding: 5px 10px;
}



// <h2>Your services</h2>
// <% @services.each  do |service| %>
//   <div class="srvc-card border d-flex flex-row">
//     <div class="card-info">
//       <h3 class="srvc-title"><%= service.title %></h3>
//       <span class="srvc-cateogry"><%= service.category %></span>
//       <span class="srvc-price"><%= service.price %>
//       <p class="srvc-description"><%= service.description %></p>
//     </div>
//     <button class="btn edit-btn">Edit</button>
//   </div>
// <% end %>
